@model IEnumerable<shopdodadung.Models.Mproduct>

<div class="row">
    @foreach (var product in Model)
    {
        //Trang chủ
        <div class="col-md-3">
            <div class="product-item">
                <div class="product-image">
                    <a href="~/@product.Slug">
                        <img src="~/Images/slider/@product.Img" class="img-fluid" alt="" />
                    </a>
                </div>
            </div>
            <div class="product-info">
                <h5 class="text-center">
                    <a href="~/@product.Slug">@product.Name</a>
                </h5>
                <h5>
                    <span class="mx-2"><del>@Html.FormatValue(product.Price, "{0:#,###}")đ</del></span>
                    <span class="mx-2">@product.Price_sale đ</span>
                </h5>
            </div>
        </div>
    }
</div>