@model shopdodadung.Models.Mpost
@{
    ViewBag.Title = "Page";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div class="container">
    <h2>@Model.Title</h2>
    <p>
        @Model.Detail
    </p>
</div>
